<p><img src="upload/glossary/id128/headimg.webp" alt="vue.js лого"></p>




<h2>Что такое Vue.js?</h2>

<p>Vue (произносится /vjuː/, примерно как view) — прогрессивный фреймворк для создания пользовательских интерфейсов. В отличие от фреймворков-монолитов, Vue создан пригодным для постепенного внедрения. Его ядро в первую очередь решает задачи уровня представления (view), что упрощает интеграцию с другими библиотеками и существующими проектами. С другой стороны, Vue полностью подходит и для создания сложных одностраничных приложений (SPA, Single-Page Applications), если использовать его совместно с современными инструментами и дополнительными библиотеками.</p>


<h2>История</h2>

<p>В 2013 году сотрудник Google Эван Ю (Evan You), работая над одним из проектов, пришёл к выводу, что не существует готовых решений для быстрого прототипирования сложных пользовательских интерфейсов веб-приложений: React тогда был на ранней стадии разработки, основными инструментами были такие сложные фреймворки, как AngularJS или ориентированный на MVC-архитектуру Backbone.js, не отличавшиеся простотой и ориентированные на разработку больших приложений. Для преодоления этого пробела Ю начал разработку Vue.js, которая, сохраняя простоту, оказалась пригодна не только для прототипирования, но и для полноценной разработки[6].

В октябре 2015 года была выпущена версия 1.0 библиотеки, в сентябре 2016 года — версия 2.0.</p>



<h2>Реактивность</h2>

<p>Привязывание данных — это отличная вещь в мире интерфейсов. Вместо микроменеджмента DOM, как мы это делали с jQuery, теперь мы фокусируемся на данных. Vue обрабатывает их аккуратно с помощью двухсторонней реактивной системы привязки данных.

Чтобы достичь этой реактивности, Vue добавляет несколько геттеров и сеттеров к каждой переменной в состоянии, чтобы она могла отслеживать изменения и автоматически обновлять DOM (кхе-кхе, this.setState()). Этот подход не является совершенным, как мы увидим позже.</p>



<h2>Батареи прилагаются</h2>

<p>С Vue нам нет необходимости прибегать к неофициальным пакетам, таким как MobX или React Router, для критических частей приложения. Vue предоставляет Vue Router и Vuex, Redux-подобный реактивный инструмент для управления состояниями. Это отличные библиотеки сами по себе, но тот факт, что они были специально разработаны для Vue, делает их еще лучше.</p>



<h2>Скорость</h2>

<p>Vue очень быстр. Возможно, он не самый быстрый, но его производительности с запасом хватает для подавляющего большинства веб-проектов. Когда вам в последний раз нужен был рендеринг и обновление тысяч элементов DOM в секунду?</p>



<h2>HTML-шаблоны</h2>

<p>Это одна из тем, вызывающих разногласия среди разработчиков JavaScript. Независимо от ваших предпочтений, HTML-шаблоны были проверены в течении десятилетий использования во многих языках и являются основным выбором для написания динамической разметки во Vue. Vue поддерживает также и JSX.</p>



<h2>Источники и ссылки</h2>

<p>
<a href="https://vuejs.org">Официальный ресурс</a>
<br>
<a href="https://habr.com/ru/post/329452/">Habr. Vue.js для сомневающихся. Все, что нужно знать</a>
<br>
<a href="https://medium.com/devschacht/почему-фронтенд-разработчики-хотят-учить-vue-js-63aa3b456dfa">Medium.com Почему 43% фронтенд-разработчиков хотят изучить Vue.js</a>
<br>
<a href="https://medium.com/@vvladislavv/забываем-о-jquery-с-vue-js-часть-1-da1773a2cac0">Medium.com Забываем о jQuery с Vue.js (Часть 1)
</a>
<br>
<a href="https://medium.com/@Pier/vue-js-the-good-the-meh-and-the-ugly-82800bbe6684">Medium.com Vue.js: the good, the meh, and the ugly</a>

<br>
<a href="https://ru.wikipedia.org/wiki/Vue.js">Википедия</a>

</p>


