<h2>Лидер ли Laravel?</h2>

<p>Зачастую разработчики с лёгкостью называют <a href="https://www.whitelabeldevelopers.ru/laravel">Laravel</a> самым популярным PHP-фреймворком в мире. Давайте с этим разберёмся. Для оценки возьмём оценку статистики общих поисковых запросов (web search) в тематике Internet&Telecom по основным PHP-фреймворкам: <a href="https://www.whitelabeldevelopers.ru/laravel">Laravel</a>, <a href="https://www.whitelabeldevelopers.ru/yii">Yii</a>, <a href="https://www.whitelabeldevelopers.ru/symphony">Symphony</a>, <a href="https://www.whitelabeldevelopers.ru/codeigniter">CodeIgniter</a> и <a href="https://www.whitelabeldevelopers.ru/nette">Nette</a>.

<h2>Методика</h2>

Безусловно, Google Trends нельзя воспринимать как точные данные, это просто общая оценка больших значений по которой можно лишь судить об тенденциях.


<h2>Россия</h2>

<p>У нас безоговорочным лидером является Laravel. На втором месте скорее Symphony, а Yii только третье.</p>

<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1982_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"RU","time":"today 12-m"},{"keyword":"yii","geo":"RU","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"RU","time":"today 12-m"},{"keyword":"Nette","geo":"RU","time":"today 12-m"},{"keyword":"CodeIgniter","geo":"RU","time":"today 12-m"}],"category":13,"property":""}, {"exploreQuery":"cat=13&date=today%2012-m,today%2012-m,today%2012-m,today%2012-m,today%2012-m&geo=RU,RU,RU,RU,RU&q=Laravel,yii,%2Fm%2F09cjcl,Nette,CodeIgniter","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 



<h2>Украина</h2>
<p>Без преувеличения соседская айти-держава отдаёт предпочтение Laravel отдавая должное Symphony.</p>

</script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"UA","time":"today 12-m"},{"keyword":"Yii","geo":"UA","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"UA","time":"today 12-m"},{"keyword":"Nette","geo":"UA","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"UA","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=UA&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 


<h2>Индия</h2>

<p>Индия — единственная весомая айти-государство отдающее предпочтение Codeigniter, естествено, после Laravel.</p>

</script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"IN","time":"today 12-m"},{"keyword":"Yii","geo":"IN","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"IN","time":"today 12-m"},{"keyword":"Nette","geo":"IN","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"IN","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=IN&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 




<h2>Китай</h2>
<p>Поднебесная не принесла сюрпризов. Laravel, который прекрасно себя чувствует в связке с китайским Vue.js первый, Yii определённо побеждает Symphony. Предположу, что в Китае популярно всё, что хорошо для интернет-магазинов.</p>

</script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"CN","time":"today 12-m"},{"keyword":"Yii","geo":"CN","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"CN","time":"today 12-m"},{"keyword":"Nette","geo":"CN","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"CN","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=CN&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 


<h2>Германия</h2>
<p>Лидерство малоизвестного у нас чешского национального фреймворка <a href="https://www.whitelabeldevelopers.ru/nette">Nette</a> было предсказуемым. </p>

 <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"DE","time":"today 12-m"},{"keyword":"yii","geo":"DE","time":"today 12-m"},{"keyword":"Symphony","geo":"DE","time":"today 12-m"},{"keyword":"Nette","geo":"DE","time":"today 12-m"},{"keyword":"CodeIgniter","geo":"DE","time":"today 12-m"}],"category":13,"property":""}, {"exploreQuery":"cat=13&date=today%2012-m,today%2012-m,today%2012-m,today%2012-m,today%2012-m&geo=DE,DE,DE,DE,DE&q=Laravel,yii,Symphony,Nette,CodeIgniter","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 


<h2>Польша</h2>
<p>Одна из лидирующий по заказной разработке стран Европы отличается сильными позициями Symphony, который не уступает Laravel. Та же ситуация во <a href="https://trends.google.com/trends/explore?geo=FR&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj">Франции</a>, где Symphony однозначный лидер.</p>


 <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"DE","time":"today 12-m"},{"keyword":"yii","geo":"DE","time":"today 12-m"},{"keyword":"Symphony","geo":"DE","time":"today 12-m"},{"keyword":"Nette","geo":"DE","time":"today 12-m"},{"keyword":"CodeIgniter","geo":"DE","time":"today 12-m"}],"category":13,"property":""}, {"exploreQuery":"cat=13&date=today%2012-m,today%2012-m,today%2012-m,today%2012-m,today%2012-m&geo=DE,DE,DE,DE,DE&q=Laravel,yii,Symphony,Nette,CodeIgniter","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 


<h32>Франция</h2>
<p>Во Франции уникальная ситуация — Symphony однозначный лидер. Надеюсь, что это не является следствием любви французов к опере. Чтобы исключить это у Symphony стоит категория Software. Помимо этого, нужно учитывать, что это данные за 2019-й год, в котором очевидно, что большинство современного населения имеет интересы далёкие от классической музыки.</p>

 <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"FR","time":"today 12-m"},{"keyword":"Yii","geo":"FR","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"FR","time":"today 12-m"},{"keyword":"Nette","geo":"FR","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"FR","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=FR&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 



<h2>Аргентина</h2>
<p>Laravel — лидер, Symphony бьётся за второе место с Codeigniter и побеждает.</p>

</script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"AR","time":"today 12-m"},{"keyword":"Yii","geo":"AR","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"AR","time":"today 12-m"},{"keyword":"Nette","geo":"AR","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"AR","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=AR&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 


<h2>Бразилия</h2>
<p>Laravel — лидер,  Codeigniter побеждает Symphony.</p>

</script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"BR","time":"today 12-m"},{"keyword":"Yii","geo":"BR","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"BR","time":"today 12-m"},{"keyword":"Nette","geo":"BR","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"BR","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=BR&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 



<h2>СГА</h2>

<p>Рынок заказной разработки СГА не просто самый крупный в мире, он, например, больше российского примерно в 5 раз. А российский по объёму соответствует голландскому. В целом именно северо-американский рынок определяет мировые тенденции в наше время. Рынок <a href="https://trends.google.com/trends/explore?geo=IT&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj">Италии</a> аналогичен северо-американскому.</p>

 <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"US","time":"today 12-m"},{"keyword":"Yii","geo":"US","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"US","time":"today 12-m"},{"keyword":"Nette","geo":"US","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"US","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=US&q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 


<h3>Всемирные данные</h3>
<p>Laravel – безусловный лидер, Symphony был бы уверенно вторым если бы не Индия, а для почитателей Yii у нас плохие новости, он интересен всем меньше Nette. </p>

</script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"Laravel","geo":"","time":"today 12-m"},{"keyword":"Yii","geo":"","time":"today 12-m"},{"keyword":"/m/09cjcl","geo":"","time":"today 12-m"},{"keyword":"Nette","geo":"","time":"today 12-m"},{"keyword":"/m/02qgdkj","geo":"","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"q=Laravel,Yii,%2Fm%2F09cjcl,Nette,%2Fm%2F02qgdkj&date=today 12-m,today 12-m,today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script> 



<small> Автор — 🕱 WhiteMan </small>