

<h2>Только тенденции</h2>

<p>Оценивать будем опять за год только по одному сервису, без учёта количества вакансий и скачиваний. Только тенденции, которые нынче принято у людей с проблемами со словарным запасом называть «трендами».</p>

<h2>Google, Facebook и Китай</h2>

<p>В мире React вне конкуренции, но в отличие от PHP-фреймворков такого тотального доминирования как у Laravel у него нет и не предвидится. Ember и остальные отрабатывают статистами. </p>

<h2> Общемировая картина </h2>

<img src="upload/blog/images/id131/1.webp">

<p>Американский продукт компании Facebook React первый, ему дышит в спину иногда американский продукт компании Google Angular. Китайцы с Vue.js сильно третьи.</p>

<h2>Россия</h2>

<img src="upload/blog/images/id131/2.webp">

<p>React первый, но близость к Китаю и прекрасная документация к Vue.js на русском подтянула его на второе место.</p>


<h2>Китай</h2>

<img src="upload/blog/images/id131/3.webp">

<p>Vue.js и React делят рынок в равных долях, иногда на заднем плане маячит Angular.</p>


<h2>Индия</h2>

<img src="upload/blog/images/id131/4.webp">

<p>Плохие отношения с Китаем налицо. Индия - территория Angular, React стабильно второй, немного маячит Vue.js.</p>


<h2>Украина</h2>

<img src="upload/blog/images/id131/5.webp">

<p>Повторяет общемировые тенденции, но географическое положение подтягивает популярность китайского продукта.</p>


<h2>Германия</h2>

<img src="upload/blog/images/id131/6.webp">

<p>Эта страна опять удивляет разнообразием популярных технологий заказной разработки. Angular первый, немного сзади React, сильно третий Vue.js и вполне отличное от нуля присутствие Ember.</p>


<h2>Бразилия</h2>

<img src="upload/blog/images/id131/7.webp">

<p>Похожа на Германию.</p>


<h2>Выводы и предсказания</h2>

<p>React лидирует в мире и есть основания полагать, что отрыв от остальных будет увеличиваться из-за его качественного развития (привет тем же <a href="https://reactjs.org/docs/hooks-reference.html">Hooks API</a>). Политическая ситуация не будет способствовать финансированию молодых китайских решений поэтому Vue.js будет третьим.</p>


<small> Автор 🕱 WhiteMan </small>